<a href="https://colab.research.google.com/github/prakashpawar4u/Ciphers/blob/main/PythonIMP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#sort list:
l3 = [4,2,5,7,2,7,9,3]
l3.sort()

print(min(l3))
print(max(l3))

2
9

# Tupple VS List:
Literal
someTuple = (1,2)
someList  = [1,2]
### Size

a = tuple(range(1000))
b = list(range(1000))

a.__sizeof__() # 8024
b.__sizeof__() # 9088
Due to the smaller size of a tuple operation, it becomes a bit faster, but not that much to mention about until you have a huge number of elements.

### Permitted operations
b    = [1,2]   
b[0] = 3       # [3, 2]

a    = (1,2)
a[0] = 3       # Error
That also means that you can't delete an element or sort a tuple.
However, you could add new element to both list and tuple with the only difference that you will change id of the tuple by adding element
a     = (1,2)
b     = [1,2]  

id(a)          # 140230916716520
id(b)          # 748527696

a   += (3,)    # (1, 2, 3)
b   += [3]     # [1, 2, 3]

id(a)          # 140230916878160
id(b)          # 748527696

### Usage
As a list is mutable, it can't be used as a key in a dictionary, whereas a tuple can be used.
a    = (1,2)
b    = [1,2]

c = {a: 1}     # OK
c = {b: 1}     # Error
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Range vs XRange()

range() vs xrange() in Python
1.3
range() and xrange() are two functions that could be used to iterate a certain number of times in for loops in Python. In Python 3, there is no xrange , but the range function behaves like xrange in Python 2.If you want to write code that will run on both Python 2 and Python 3, you should use range().

range() – This returns a list of numbers created using range() function.
xrange() – This function returns the generator object that can be used to display numbers only by looping. Only particular range is displayed on demand and hence called “lazy evaluation“.

Both are implemented in different ways and have different characteristics associated with them. The points of comparisons are:

Return Type
Memory
Operation Usage
Speed
Return Type
range() returns – the list as return type.
xrange() returns – xrange() object.


### Return Type
Python code to demonstrate range() vs xrange() on  basis of return type

initializing a with range()
a = range(1,10000)

initializing a with xrange()
x = xrange(1,10000)

testing the type of a
print ("The return type of range() is : ")
print (type(a))

testing the type of x
print ("The return type of xrange() is : ")
print (type(x))
Run on IDE
Output:

The return type of range() is :

The return type of xrange() is :

### Memory
The variable storing the range created by range() takes more memory as compared to variable storing the range using xrange().
The basic reason for this is the return type of range() is list and xrange() is xrange() object.

on  basis of memory
import sys
initializing a with range()
a = range(1,10000)

initializing a with xrange()
x = xrange(1,10000)

### testing the size of a
range() takes more memory
print ("The size allotted using range() is : ")
print (sys.getsizeof(a))

### testing the size of a
range() takes less memory
print ("The size allotted using xrange() is : ")
print (sys.getsizeof(x))
Run on IDE
Output:

The size allotted using range() is :
80064
The size allotted using xrange() is :
40
Operations usage
As range() returns the list, all the operations that can be applied on the list can be used on it. On the other hand,
as xrange() returns the xrange object, operations associated to list cannot be applied on them, hence a disadvantage.

### Python code to demonstrate range() vs xrange()
on  basis of operations usage

initializing a with range()
a = range(1,6)

initializing a with xrange()
x = xrange(1,6)

testing usage of slice operation on range()
prints without error
print ("The list after slicing using range is : ")
print (a[2:5])

testing usage of slice operation on xrange()
raises error
print ("The list after slicing using xrange is : ")
print (x[2:5])
Run on IDE
Error:

Traceback (most recent call last):
  File "1f2d94c59aea6aed795b05a19e44474d.py", line 18, in
    print (x[2:5])
TypeError: sequence index must be integer, not 'slice'
Output:

The list after slicing using range is :
[3, 4, 5]
The list after slicing using xrange is :


### Speed
Because of the fact that xrange() evaluates only the generator object containing only the values that are required by lazy evaluation,
therefore is faster in implementation than range().

### Important Points:
If you want to write code that will run on both Python 2 and Python 3, use range() as the xrange funtion is deprecated in Python 3
range() is faster if iterating over the same sequence multiple times.
xrange() has to reconstruct the integer object every time, but range() will have real integer objects.
(It will always perform worse in terms of memory however)

List comprehensions perform better here because you don’t need to load the append attribute off of the list (loop program, bytecode
28) and call it as a function (loop program, bytecode 38). Instead, in a comprehension, a specialized LIST_APPEND bytecode is
generated for a fast append onto the result list (comprehension program, bytecode 33).

# LAMBDA:
simple one liner function:
lambda x,y: x+y

In [ ]:
mx= lambda x,y: x if x > y else y
print(mx(8,5))

8

In [ ]:
# MAP
# apply same functions to each element of a sequence

items = [1,2,3,4,5,6]
squared = list(map(lambda x : x**2, items))

#count no of words starting with S:
inp = "this is the input String, In this string words should start with s"
l = inp.split(' ')
print(l)

count_word = list(map(lambda x: x[0]=="s" or x[0]=="S", l)).count(True)
print(count_word)

['this', 'is', 'the', 'input', 'String,', 'In', 'this', 'string', 'words', 'should', 'start', 'with', 's']
5

In [ ]:
# Filter:

number_list = range(-5, 5)
less_than_zero = list(filter(lambda x: x < 0, number_list))
print(less_than_zero)

[-5, -4, -3, -2, -1]

In [ ]:
# Reduce:
#uses results of operation as first param of next operation.
#returns an item, not list.
n=[4,3,2,1]

from functools import reduce
print(reduce(lambda x, y: x*y, n))

product = reduce((lambda x,y: x*y), [44,5,6,7,43])
print(product)

24
397320

In [ ]:
# Zip
# MAP 2 lists
keys = ['red', 'green', 'blue']
values = ['#FF0000','#008000', '#0000FF']
color_dictionary = dict(zip(keys, values))
print("ITEMS",color_dictionary.items())
print("KEYS", color_dictionary.keys())
print("VALUES", color_dictionary.values())

ITEMS dict_items([('red', '#FF0000'), ('green', '#008000'), ('blue', '#0000FF')])
KEYS dict_keys(['red', 'green', 'blue'])
VALUES dict_values(['#FF0000', '#008000', '#0000FF'])

In [ ]:
# Transpose
l = [[1,2,3,4],[5,6,7,8]]

transpose= map(list, zip(*l))
print(transpose)
for i in transpose:
  print(i)

transpose_list = list(map(list, zip(*l)))
print("Transpose list::",transpose_list)

<map object at 0x7ae7abef6da0>
[1, 5]
[2, 6]
[3, 7]
[4, 8]
Transpose list:: [[1, 5], [2, 6], [3, 7], [4, 8]]

In [ ]:
# Join & Split
a=["a","b","c","d"]
str1="".join(a)
print(str1)

#Split:
str1="this is my, fight song"
print(str1.split(" "))

str2 = "hello"
print(str2.split())

abcd
['this', 'is', 'my,', 'fight', 'song']
['hello']

In [ ]:
#STRIP:
str = "0000000this is string example....wow!!!0000000";
print(str.lstrip('0')) # left strip

print(str.rstrip('0')) # right strip

print(str.strip('0'))  # removes completely

#removes the char from the begining of the string.

this is string example....wow!!!0000000
0000000this is string example....wow!!!
this is string example....wow!!!

In [ ]:
#index of item
num =[10, 30, 4, -6]
print(num.index(-6))
print(num.index(30))

3
1

In [ ]:
print(ord("a")- 97)  # 97

print(ord("x")- 97) # 120

0
23

#List Operations:
remove= value          lst.remove(val)

del= specific index    del lst[0]

pop= specific index    lst.pop(1) 2nd val deletes

In [ ]:
l = ['1', '2', '3', '4', '5','2']
#Remove removes the first matching value, not a specific index & returns nothing

l.remove('2')
print(l)

['1', '3', '4', '5', '2']

In [ ]:
# Del deletes the specific index
del l[0]
print(l)

['3', '4', '5', '2']

In [ ]:
# Pop returns the removed element:
l.pop(1)

'4'

In [ ]:
print("finally list ::", l)

finally list :: ['3', '5']

In [ ]:
#Inspect:
import inspect

def test123():
    """Below statement will print the method name which is called can be very usefull in debugging"""
    print(inspect.stack()[0])
    print(inspect.stack()[0][3])
test123()

FrameInfo(frame=<frame at 0x7c750401a620, file '<ipython-input-12-64aebbda1cdb>', line 6, code test123>, filename='<ipython-input-12-64aebbda1cdb>', lineno=6, function='test123', code_context=['    print(inspect.stack()[0])\n'], index=0)
test123

File handling Read, Write & Execute operations:

In [ ]:
#Write Content
fp = open("f1.txt",'w')
L = ["This is Delhi \n", "This is Paris \n", "This is London \n"]
s = "Hello\n"

# Writing a string to file
fp.write(s)

# Writing multiple strings
# at a time
fp.writelines(L)

#close file
fp.close()

In [ ]:
# Read Content
fp = open("f1.txt",'r')

print("Read Content:: ",fp.read())
fp.close()

Read Content::  Hello
This is Delhi
This is Paris
This is London

In [ ]:
fp = open("f1.txt",'r')
print("Readline :: ",fp.readline())
fp.close()

Readline ::  Hello

In [ ]:
fp = open("f1.txt",'r')
print("Readlines ::", fp.readlines())
fp.close()

Readlines :: ['Hello\n', 'This is Delhi \n', 'This is Paris \n', 'This is London \n']

### List Comprehensions:

In [ ]:
list1 = [1,2,3,4]
list2 = [3,4]
s = set(list2)

temp=[x for x in list1 if x not in s]
print(temp)

[1, 2]

#### Dict Comprehension

In [ ]:
sq = {x:x*x for x in list1}
print(sq)

{1: 1, 2: 4, 3: 9, 4: 16}

d.get() returns nothing if the key is not found,

setdefault will be used to assign None if the key is not found.

In [ ]:
sq.get(2)

4

In [ ]:
sq.get(11)

In [ ]:
sq.setdefault(11)
print(sq)

{1: 1, 2: 4, 3: 9, 4: 16, 11: None}

Dict Operations:

In [ ]:
d =  {1: 'one', 2: 'two'}
d2 = d #assigning
d3 = d.copy() #taking a deepcopy of it, changes won't reflect
d3

{1: 'one', 2: 'two'}

In [ ]:
d[1]="ONE"

In [ ]:
d2 #changes made on dict is reflecting

{1: 'ONE', 2: 'two'}

In [ ]:
d3 #changes made won't be reflected

{1: 'one', 2: 'two'}

In [2]:
# Dict update :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}

for d in (dic1, dic2, dic3):
  dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [3]:
#loop dict:
d = {'x': 10, 'y': 20, 'z': 30}
for dict_key, dict_value in d.items():
    print(dict_key,'->',dict_value * dict_value)

x -> 100
y -> 400
z -> 900

In [5]:
#Multiply dict:
my_dict = {'data1':10,'data2':-20,'data3':5}
result=1
for key in my_dict:
    result=result * my_dict[key]
print(result)

-1000

In [7]:
#Delete key:
myDict = {'a':1,'b':2,'c':3,'d':4}
print(myDict)
if 'a' in myDict:
    del myDict['a']
print("Post Deletion::", myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Post Deletion:: {'b': 2, 'c': 3, 'd': 4}

In [10]:
#Max & Min value in dict:
my_dict = {'x':500, 'y':5874, 'z': 560}

key_max = max(my_dict.keys(), key=(lambda k: my_dict[k]))
key_min = min(my_dict.keys(), key=(lambda k: my_dict[k]))

print(key_max, key_min)

y x

**Regular Expressions:**

Python offers two different primitive operations based on regular expressions: match checks for a match only at the beginning of the string,
while search checks for a match anywhere in the string (this is what Perl does by default).

In [12]:
import re
phone = '2004-959-559 #This is Phone Number'
num = re.sub(r"#.*$","",phone)
num  #removed all the characters except number & hyphen

'2004-959-559 '

In [14]:
num = re.sub(r'\D',"",phone)
num

'2004959559'

In [15]:
ts = "apples oranges apples"

match_obj = re.match("apple", ts)
search_obj = re.search("apples",ts)
findall_obj = re.findall("apples",ts)

In [16]:
print(match_obj)
print(search_obj)
print(findall_obj)

<re.Match object; span=(0, 5), match='apple'>
<re.Match object; span=(0, 6), match='apples'>
['apples', 'apples']

In [ ]:
#substitue:
text_after = re.sub(regex_search_term, regex_replacement, text_before)

IMP REGEX:

Email   \w+[._]*\w*@\w+.\w+

Phone No: [789]\d{9}|\d{3,}-\d{6,}

IP Address: (\d+\.\d+\.\d+\.\d+)

Valid IP address: ((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)
((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)

URL : \w+://(?:\w+|[/:;+=*.])+

Special Character: /^[-@./#&+\w\s]*$/

float values: [+-]?([0-9]*[.])?[0-9]+

REGEX EMAIL:
[\w.-]+@[\w.-]+.\w+

\"?([-a-zA-Z0-9.`?{}]+@\w+\.\w+)\"?

('(\w+[.|\w])*@(\w+[.])*\w+',email4)

In [20]:
import re
# here is my function to check for valid email address
def test_email(your_pattern):
  pattern = re.compile(your_pattern)
  # here is an example list of email to check it at the end
  emails = ["john@example.com", "python-#list@python.org", "wha.t.`1an?ug{}ly@email.com"]
  for email in emails:
      if not re.match(pattern, email):
        print("You failed to match %s" % (email))
      elif not your_pattern:
        print("Forgot to enter a pattern!")
      else:
          print("Pass")
# my pattern that is passed as argument in my function is here!
pattern = r"\"?([-a-zA-Z0-9.`?{}]+@\w+\.\w+)\"?"
# here i test my function passing my pattern
test_email(pattern)

Pass
You failed to match python-#list@python.org
Pass

In [25]:
import socket
def valid_ip(address):
    try:
        socket.inet_aton(address)
        return True
    except:
        return False
print(valid_ip("10.10.9.89"))
print(valid_ip("10.10.9.899"))

True
False

In [27]:
import random

# Generates a random number between
# a given positive range
r1 = random.randint(0, 10)
print(r1)

5

In [28]:
#Sort tupple by last element:
def last(n): return n[-1]

def sort_list_last(tuples):
  return sorted(tuples, key=last)

print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [30]:
#list inside list:
e = [[1,2,3,4], [1,5,6,7], [9,8,7,6]]
workers=[j for i in e for j in i]
print(workers)

[1, 2, 3, 4, 1, 5, 6, 7, 9, 8, 7, 6]

In [26]:
#Checking if two words are anagrams
from collections import Counter
def is_anagram(str1, str2):
     return Counter(str1) == Counter(str2)
print(is_anagram('geek', 'eegk'))
print(is_anagram('geek', 'peek'))

True
False